<div class="basicInfoPage">
	<header>
		<h3 class="commonPageHeader">Enter Contact info</h3>
	</header>

	<div class="addressSection">
		<h2 class="text-danger">Address</h2><br>

		<form role="form" name="basicInfoForm" novalidate>
	    	<div class="form-group">
		        <input type="text" class="form-control" name="line1"  placeholder="Address Line1" >
	      	</div>

			<div class="form-group">
		        <input type="text" class="form-control" name="line2"  placeholder="Address Line2" >
	      	</div>

			<div class="form-group">
		        <input type="text" class="form-control" name="city"  placeholder="City" >
	      	</div>

			<div class="form-group">
		        <input type="text" class="form-control" name="state"  placeholder="State" >
	      	</div>

			<div class="form-group">
		        <input type="text" class="form-control" name="zipcode"  placeholder="Zipcode" >
	      	</div>
	</div>


	<div class="infoToContact">
		<form role="form" name="contactInfo" novalidate>
				<h4 class="text-danger">Please provide the following information</h4>
				<div>
		    		<label for="name">Name</label>
			        <input type="text"  name="name" id="name" class="form-control" placeholder="Enter Name">

		      	</div>

		    	<div>
			        <label for="email">Email address</label>
			        <input type="email"  name="email" id="email" class="form-control" placeholder="Enter Email">

		      	</div>

		      	<div>
			        <label for="phone">Phone no.</label>
			        <input type="text"  name="phone" id="phone" class="form-control" placeholder="Enter your contact number">
			        <br><br>

		      	</div>

		        <a href="#/" class="btn btn-default">Next</a>
		    </form>
	</div>
</div>