<div class="basicInfoPage">
	<header>
		<h2>Enter Contact info</h2>
	</header>

	<div class="addressSection">
		<h2>Address</h2>

		<input type="text" name="line1" placeholder="Address Line1">

		<input type="text" name="line2" placeholder="Address Line2">

		<input type="text" name="city" placeholder="City">

		<input type="text" name="state" placeholder="State">

		<input type="text" name="zipcode" placeholder="Zipcode">
	</div>

	<div class="infoToContact">
		<form role="form" name="contactInfo" novalidate>

				<div>
		    		<label for="name">Name</label>
			        <input type="text"  name="name" id="name" placeholder="Enter Name">
					<br><br>
		      	</div>

		    	<div>
			        <label for="email">Email address</label>
			        <input type="email"  name="email" id="email" placeholder="Enter Email">
					<br><br>
		      	</div>

		      	<div>
			        <label for="phone">Phone no.</label>
			        <input type="text"  name="phone" id="phone" placeholder="Enter your contact number">
					<br><br>
		      	</div>

		        <a href="#/schedule" class="btn btn-default">Next</a>
		    </form>
	</div>
</div>