<section class="homepage">
	<img src="" alt="logo">
	<h1>Servicing Made Easy</h1>
	<div  ng-include src="'templates/login.html'"></div>
	<div ng-include src="'templates/register.html'"></div>
	<hr>
	<div class="container">
		<div class="row col-lg-10">
			<div ng-controller="CarouselCtrl" id="slides_control">
			    <div>
			      <carousel interval="myInterval">
			        <slide ng-repeat="slide in slides" active="slide.active">
			          <img ng-src="{{slide.image}}">
			          <div class="carousel-caption">
			            <h4>Slide {{$index+1}}</h4>
			          </div>
			        </slide>
			      </carousel>
			    </div>
		  	</div>
		</div>
			<article>
				<h3>Get your products serviced easily and quickly</h3>
			</article>
	</div>

	<section class="sidebar">
		<div class="firstBar">
			<h2>Lorem Ipsum</h2>
			<p>Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
		</div>
	</section>

</section>

