<section class="homepage">
	<div class="page-header row">
		<img src="" class="col-lg-1" alt="logo">
		<h3 class="col-lg-8 col-md-5">Servicing Made Easy</h3>
		<div class="col-lg-1 col-md-1 loginTemplate" ng-include src="'templates/login.html'"></div>

		<div class="col-lg-1" ng-include src="'templates/register.html'"></div>
	</div>

	<div class="carousel">
		<div ng-controller="CarouselCtrl" id="slides_control">
		    <div class="carouselContainer">
		      <carousel interval="myInterval">
		        <slide ng-repeat="slide in slides" active="slide.active">
		          <img ng-src="{{slide.image}}" style="width:1270px;height:450px;">
		          <div class="carousel-caption">
		            <h4 class="slideText">{{slide.text}}</h4>
		          </div>
		        </slide>
		      </carousel>
		    </div>
	  	</div>
	</div>
</section>
	<section class="sidebar row">
		<div class="bar col-lg-3">
			<h2>Lorem Ipsum</h2>
			<p> Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
		</div>

		<div class="bar col-lg-3">
			<h2>Lorem Ipsum</h2>
			<p>Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
		</div>

		<div class="bar col-lg-3">
			<h2>Lorem Ipsum</h2>
			<p>Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
		</div>
	</section>

	<section class="infoAboutSite">
		<h3 class="infoHead">Its as simple as get , set & go</h3>
		<div class="steps row">

			<div class="col-lg-3 bar">
				<img src="" alt="">
				<h4>Register</h4>
				<p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
			</div>

			<div class="col-lg-3 bar">
				<img src="" alt="">
				<h4>Book</h4>
				<p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
			</div>

			<div class="col-lg-3 bar">
				<img src="" alt="">
				<h4>Sit Back and Relax</h4>
				<p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
			</div>
		</div>

		<div class="facebookLike">

		</div>
	</section>

	<footer>
		<div>
			<h5>Copyright @2015</h5>
		</div>
	</footer>



