<section class="schedulePage">

	<h2 class="commonPageHeader">Choose your Day and Time</h2>
	<div class="scheduleDayTime row">
		<div ng-controller="DatepickerDemoCtrl" class="col-lg-6">
		    <h4>Day of your choice</h4>
		    <div style="display:inline-block; min-height:290px;">
		        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
		    </div>

		    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
		</div>

		<div ng-controller="TimepickerDemoCtrl" class="col-lg-5">
			<h4>Time of your choice</h4>
			<timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

			<pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>

		</div>

	</div>

	<h4 class="infoEntered">Please verify the details provided below :</h4>

	<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>City</th>
		<th>Services needed</th>
		<th>Contact No.</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td>{{row.name}}</td>
		<td>{{row.address}}</td>
		<td>{{row.city}}</td>
		<td>{{row.services}}</td>
		<td>{{row.contact}}</td>
	</tr>
	</tbody>
</table>

<button type="submit" value="" class="btn btn-default bookAppointment">Book Appointment</button>

</section>