<section class="mainServiceSection">
		<h3 class="commonPageHeader">Tell us about the things you want to be serviced</h3>

		<div class="itemsToBeServiced">
			<div class="item1 col-lg-3">
				<a href=""><img src="images/app1.jpg" style="width:200px;height:200px;margin-bottom:10px;" ng-click="addClass();"></a>
			</div>

			<div class="item2 col-lg-3">
				<img src="images/app2.jpg" style="width:200px;height:200px;margin-bottom:10px;">
			</div>

			<div class="item3 col-lg-3">
				<img src="images/app3.jpg" style="width:200px;height:200px;margin-bottom:10px;">
			</div>

			<div class="item4 col-lg-3">
				<img src="images/app4.jpg" style="width:200px;height:200px;margin-bottom:10px;">
			</div>

			<div class="item5 col-lg-3">
				<img src="images/app5.jpg" style="width:200px;height:200px;">
			</div>

			<div class="item5 col-lg-3">
				<img src="images/app6.jpg" style="width:200px;height:200px;">
			</div>

			<div class="item5 col-lg-3">
				<img src="images/app7.jpg" style="width:200px;height:200px;">
			</div>

			<div class="item5 col-lg-3">
				<img src="images/app8.jpg" style="width:200px;height:200px;">
			</div>

		</div>

		<hr>

		<div id="infoText">
			Lorem ipsum dolor sit amet, magna tortor. Eros ut molestiae facilisis, phasellus tristique duis ac. Nascetur vivamus nullam placerat lacus, praesent sollicitudin. Parturient nulla dolor blandit erat potenti, tempor aliquam, tortor est non, accumsan ut mollis tellus nec vestibulum, eu quis vel ligula id. Donec fames suscipit orci eos, tellus dui congue iaculis, sed in ut dolor a at venenatis. Ligula pede pretium nulla ipsum, amet in pede molestie, massa sit ipsum vel, augue at sit eleifend ultricies wisi, ipsum consectetuer. In maecenas, rutrum
		</div>

		<a href="#/" class="btn btn-default nextBtn">NEXT</a>
	</section>