<nav>
	<div id ="siteIcon">
		<img src="">
		<h2>SME</h2>
	</div>

	<div id="levels">
		<a href=""><i>Level 1</i></a>
		>
		<a href=""><i>Level 2</i></a>
		>
		<a href=""><i>Level 3</i></a>
		>
		<a href=""><i>Level 4</i></a>
	</div>
</nav>

<hr>

<section id="mainServiceSection">
	<h3>Tell us about the things you want to be serviced</h3>

	<div id="itemsToBeServiced">
		<div id="item1">
			<img src="">
		</div>

		<div id="item2">
			<img src="">
		</div>

		<div id="item3">
			<img src="">
		</div>

		<div id="item4">
			<img src="">
		</div>
	</div>

	<hr>

	<div id="infoText">
		Lorem ipsum dolor sit amet, magna tortor. Eros ut molestiae facilisis, phasellus tristique duis ac. Nascetur vivamus nullam placerat lacus, praesent sollicitudin. Parturient nulla dolor blandit erat potenti, tempor aliquam, tortor est non, accumsan ut mollis tellus nec vestibulum, eu quis vel ligula id. Donec fames suscipit orci eos, tellus dui congue iaculis, sed in ut dolor a at venenatis. Ligula pede pretium nulla ipsum, amet in pede molestie, massa sit ipsum vel, augue at sit eleifend ultricies wisi, ipsum consectetuer. In maecenas, rutrum 
	</div>

	<button id="nextPage">NEXT</button>
</section>