<section class="commonPage" ng-controller="ServicesController">

	<nav class="navbar navbar-default navbar-fixed-top row">
		<div class="col-lg-4 commonPageHead">
			<img src="" class="col-lg-5" alt="logo">
			<h3 class="col-lg-6">SME</h3>
		</div>
		<div class="levels col-lg-7 commonPageHead">
			<a href="" ng-click= "displayBasicInfo()">Step1</a>
			<span> > </span>

			<a href="" ng-click= "displayServices()">Step2</a>
			<span> > </span>

			<a href="" ng-click= "displaySchedule()">Step3</a>

			<a href="" class="logout text-success" ng-click="logout()">Logout</a>
			<span>{{username}}</span>
		</div>
	</nav>
	<section class="dynamic">
		<div ng-include src="'templates/basicInfo.html'" ng-show = "basicInfoView"></div>
		<div ng-include src="'templates/servicesAvailable.html'" ng-show = "servicesView"></div>
		<div ng-include src="'templates/schedule.html'" ng-show = "scheduleView"></div>
	</section>


</section>