h1,h2,h3,div,header,.row{
	margin: 0;
	padding: 0;
}

body{
	margin: 0 auto;
	background-color:#f2dede;
}

.page-header{
	margin-top: 20px;
	height:40px;
}

.logo{
	margin-top:5px;
}
.modal-dialog , .modal-backdrop{
	z-index: 99;
}

.slideText{
	color: ;
}

.carousel{
	height:450px;
	width: 1362px;
}

#slides_control {
  position:absolute;
  left:16%;
  top:20px;
  margin-left:-200px;
}

.bannerText{
	margin-top: 100px;
}

.loginTemplate{
	width: 60px;
}

.sidebar{
	margin-top: 100px;
}
.infoAboutSite{
	background-color:#eb6864;
	margin-top: 50px;
	margin-left: 0px;
	height: 300px;
}
.bar{
	margin-right: 100px;
}
.infoHead{
	margin:50px 0 0px 400px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.steps{
	background-color:
}

.commonPageHeader{
	margin-top:60px;
	margin-bottom: 30px;
}

.commonPageHead{
	margin-top: 20px;
}

.navbar{
	margin-bottom: 0;
	width: 70%;
	margin: 0 auto;
}

.commonPage{
	width:70%;
	margin: 0 auto;
	overflow: auto;
	background-color: #f2dede;
}
.basicInfoPage{
	margin: 0 0 0 154px;
}
.logout{
	margin-left: 50px;
}
.addressSection{
	width: 80%;
}

.infoToContact{
	width: 50%;
}

.infoText{
	margin-top: 50px;
}

.itemsToBeServiced{
	overflow: auto;
}

.nextBtn{
	margin-left: 450px;
	margin-top: 50px;
}

.bookAppointment{
	margin-left: 400px;
	margin-top: 20px;
}